<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tacomall.tacomallspringbootmapper.member.MemberMapper">

    <resultMap id="member" type="cn.tacomall.tacomallspringbootentity.member.Member">
        <id property="id" column="id"/>
        <result property="membername" column="membername"/>
    </resultMap>

    <resultMap id="memberSynopsis" type="cn.tacomall.tacomallspringbootentity.member.Member" extends="member">
        <association property="memberProfile" column="id"
                     select="cn.tacomall.tacomallspringbootmapper.member.MemberProfileMapper.selectByMemberId"/>
        <association property="memberWeixin" column="id"
                     select="cn.tacomall.tacomallspringbootmapper.member.MemberWeixinMapper.selectByMemberId"/>
    </resultMap>


    <select id="getMemberByOpenId" resultMap="member">
        select *
        from member u
        left join member_weixin w
        on u.id = w.member_id
        where w.open_id = #{openId}
    </select>

    <select id="getMemberSynopsis" resultMap="memberSynopsis">
        select *
        from member
        where id = #{id}
    </select>

</mapper>