<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tacomall.tacomallspringbootmapper.user.UserMapper">

    <resultMap id="user" type="cn.tacomall.tacomallspringbootentity.user.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
    </resultMap>

    <resultMap id="userSynopsis" type="cn.tacomall.tacomallspringbootentity.user.User" extends="user">
        <association property="userProfile" column="id"
                     select="cn.tacomall.tacomallspringbootmapper.user.UserProfileMapper.selectByUserId"/>
        <association property="userWeixin" column="id"
                     select="cn.tacomall.tacomallspringbootmapper.user.UserWeixinMapper.selectByUserId"/>
    </resultMap>


    <select id="getUserByOpenId" resultMap="user">
        select *
        from user u
        left join user_weixin w
        on u.id = w.user_id
        where w.open_id = #{openId}
    </select>

    <select id="getUserSynopsis" resultMap="userSynopsis">
        select *
        from user
        where id = #{id}
    </select>

</mapper>