<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codingtalk.tacomallmapper.admin.AdmimUserMapper">

    <resultMap id="authRole" type="cn.codingtalk.tacomallentity.admin.AdminUserAuthRole">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <resultMap id="authRule" type="cn.codingtalk.tacomallentity.admin.AdminUserAuthRule">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>


    <select id="getAuthRole" resultMap="authRole">
        select *
        from member u
        <choose>
            <when test="key=='id'">
                where u.id = #{value}
            </when>
            <when test="key=='open_id'">
                left join member_weixin wa
                on u.id = wa.member_id
                where wa.open_id = #{value}
            </when>
        </choose>
    </select>

    <select id="getAuthRule" resultMap="authRule">
        select *
        from member u
        <choose>
            <when test="key=='id'">
                where u.id = #{value}
            </when>
            <when test="key=='open_id'">
                left join member_weixin wa
                on u.id = wa.member_id
                where wa.open_id = #{value}
            </when>
        </choose>
    </select>

</mapper>